.menu_left{
    /*padding-left: 300px;*/
}

.menu_left_icons{
    /*padding-left: 50px;*/
}

.navbar_trans{
    background-color: transparent;
    color: #000;
}


.fondo_tres{
    background-image: url('../img/fondo3.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*
.fondo_img{
    background-image: url('../img/Web\ 1920\ –\ 11@2x.png');
    

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 
  position: relative;
}*/